<div class="row">
    <div class="col-md-12">
        <div class="panel-heading">
            Nodes
        </div>
        <table class="table table-bordered">
            <thead>
            <th>Name</th>
            <th>Hardware Address</th>
            <th>Edit</th>
            </thead>

            <tbody>
                {{range .}}
                    <tr>
                        <td><a href="/nodes/{{ .Id }}">{{ .CanonicalName }}</a></td>
                        <td>{{ .HardwareAddress }}</td>
                        <td><a href="/nodes/{{ .Id }}/edit" class="btn btn-primary btn-xs">Edit</a></td>
                    </tr>
                {{end}}
            </tbody>
        </table>

    </div>
</div>