<div class="row">
    <div class="col-md-12">
        {{range .}}
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/nodes/{{ .Id }}">{{ .CanonicalName }}</a> [{{ .HardwareAddress }}]
                </div>
            </div>
        </div>
        {{end}}

    </div>
</div>