<div class="error">
    <h1 class="error">Whooops!</h1>
    <p>
        This page couldn't be found.. what a shame! <br />
        Navigate to the <strong><a href="/">homepage</a></strong>
    </p>
</div>