<form action="/user/login" method="post">
    <fieldset>
        <legend>Login to Isogon</legend>
        <input type="email" name="email" placeholder="Email" required="required" autofocus>
        <input type="password" name="password" placeholder="Password" required="required">
        <button type="submit">Submit</button>
    </fieldset>
</form>
